* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #5d889d;
  box-sizing: border-box;
}

.app {
  align: center;
  background: #28698a;
  border-bottom: 5px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 0 2px 10px 1px rgba(20,20,20,0.35);
  display: block;
  height: 70%;
  margin: 20px auto 0;
  max-width: 480px;
  width: 100%;
}

.app__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #e8dd9b;
  padding: 1rem 1rem 0 1.5rem;
}

.app__heading {
  font-family: 'Candal', sans-serif;
}

.divider {
  border-color: #e8dd9b;
}

.stream {
  align-items: flex-start;
  border-bottom: 1px solid #163a4c;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-weight: '700';
  justify-content: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.stream:hover {
  background: #f7eBa6;
}

.stream--online {
  background: #1e9737;
}

.stream--online:hover {
  background: #27c247;
}

.stream--online .stream__info {
  font-style: normal;
}

.stream__header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.stream__icon {
  border: 2px solid #E8DD9B;
  border-radius: 12px;
  box-shadow: 1px 1px 5px 0 rgba(20,20,20,0.25);
  height: 50px;
  margin: 2px;
  width: 50px;
}

.stream__info {
  font-family: 'Bree Serif', serif;
  font-size: 0.75rem;
  font-style: italic;
}

.stream__link {
  color: #0e2530;
  padding: 0 0 0 10px;
  text-decoration: none;
}

.streamers {
  background: #e8dd9b;
  overflow-y: auto;
  padding: 0 0 1rem;
}

.streamers__list {
  list-style: none;
}

.tab {
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  border: 2px solid #28698a;
  align-self: flex-end;
  margin: 5px auto 10px;
}

.tab:hover {
  color: #ddd;
}

.tab--active {
  border-bottom-color: #e8dd9b;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;
  padding: 5px;
}


@media screen and (max-width: 640px) {

  .app {
    border: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .app__heading {
    margin: 5px;
  }


  .streamers {
    height: calc(100vh - 200px);
  }

  .tab {
    font-size: 0.8rem;
    padding: 0;
  }

  .fa-2x {
    font-size: 1rem;
  }

}
